<nav class="d-flex">
    <div class="p-2">
        <div>
            <a href="/">
                <h1>Project一歩</h1>
            </a>
            <p>
                This site is based on database handling CRUD operations 
            </p>
        </div>
    </div>
    <div class="p-2 flex-grow-1 d-flex justify-content-end flex-column">
        <div class="text-end flex-grow-1">
            プロフィルここ
        </div>
        <div">
            <ul class="d-flex justify-content-end">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Sign-in</a></li>
                <!-- <li><a href="/user/create">Add-User</a></li> -->
            </ul>
        </div>
    </div>
</nav>