<html lang="jp">
<%- include("./partials/head") %>

<body>
  <%- include("./partials/nav") %>

  <h2>投稿</h2>
  <div class="blogs content d-flex justify-content-center">
    <div class="ratio ratio-16x9" style="width: 720px;">
        <iframe src="https://monogatary.com/episode/33827" title="タナトス"></iframe>
      </div>
  </div>

  <%- include("./partials/footer") %>
</body>
</html>